version: '3.7'

services:
  sonarr:
    container_name: sonarr
    image: ghcr.io/hotio/sonarr
    ports:
      - 8989:8989
    environment:
      - PUID={{uid}}
      - PGID={{gid}}
      - TZ=Asia/Jerusalem
    volumes:
      - ~/servers/media_server/synced/sonarr/config:/config
      - ~/servers/media_server/notsynced/deluge/data:/data
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID={{uid}}
      - PGID={{gid}}
      - TZ=Asia/Jerusalem
    volumes:
      - ~/servers/media_server/synced/radarr/config:/config
      - ~/servers/media_server/notsynced/deluge/data:/data
      # - /path/to/movies:/movies #optional
      # - /path/to/downloadclient-downloads:/downloads #optional
    ports:
      - 7878:7878
    restart: unless-stopped

  plex:
    image: ghcr.io/linuxserver/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID={{uid}}
      - PGID={{gid}}
      - VERSION=docker
      # - PLEX_CLAIM=
    volumes:
      - ~/servers/media_server/synced/plex/config:/config
      # - ~/media_server/notsynced/plex/tv:/tv
      # - ~/media_server/notsynced/plex/movies:/movies
      - ~/servers/media_server/notsynced/deluge/data:/data
    restart: unless-stopped

  deluge:
    image: ghcr.io/linuxserver/deluge
    container_name: deluge
    network_mode: host
    environment:
      - PUID={{uid}}
      - PGID={{gid}}
      - TZ=Asia/Jerusalem
      - DELUGE_LOGLEVEL=error #optional
    volumes:
      - ~/servers/media_server/synced/deluge/config:/config
      - ~/servers/media_server/notsynced/deluge/data:/data
      # - ~/media_server/notsynced/deluge/downloads:/downloads
      # - ~/media_server/notsynced/deluge/torrents:/torrents
    restart: unless-stopped

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID={{uid}}
      - PGID={{gid}}
      - TZ=Asia/Jerusalem
      - AUTO_UPDATE=true #optional
      # - RUN_OPTS= #optional
    volumes:
      - ~/servers/media_server/synced/jackett/config:/config
      - ~/servers/media_server/notsynced/deluge/data:/data
    ports:
      - 9117:9117
    restart: unless-stopped
