version: '3.7'

services:
  proxy:
    build: ./proxy
    ports:
      - 80:80
      - 443:443
    labels:
      com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    volumes:
      - ~/servers/nextcloud/not_synced/for_https/certs:/etc/nginx/certs:ro
      - ~/servers/nextcloud/not_synced/for_https/vhost.d:/etc/nginx/vhost.d
      - ~/servers/nextcloud/not_synced/for_https/html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - nginx_network
    restart: unless-stopped

  letsencrypt-companion:
    image: nginxproxy/acme-companion
    volumes:
      - ~/servers/nextcloud/not_synced/for_https/certs:/etc/nginx/certs
      - ~/servers/nextcloud/not_synced/for_https/vhost.d:/etc/nginx/vhost.d
      - ~/servers/nextcloud/not_synced/for_https/html:/usr/share/nginx/html
      - ~/servers/nextcloud/not_synced/for_https/acme:/etc/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - DEFAULT_EMAIL={{lets_encrypt_mail}}
    depends_on:
      - proxy
    networks:
      - nginx_network
    restart: unless-stopped

  nextcloud:
    image: nextcloud:27
    user: "{{uid}}:{{gid}}"
    hostname: {{nextcloud_url}}
    # ports:
    #   - 80:80
    volumes:
      - ~/servers/nextcloud/synced/var/www/html:/var/www/html
    depends_on:
      - db
    environment:
      - NEXTCLOUD_TRUSTED_DOMAINS=https://{{nextcloud_url}}
      - OVERWRITEPROTOCOL=https  # not sure if needed
      - MYSQL_PASSWORD=1qwer5432
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db
      - VIRTUAL_HOST={{nextcloud_url}}
      # - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST={{nextcloud_url}}
    networks:
      - nginx_network
    restart: unless-stopped

  db:
    image: mariadb:11
    user: "{{uid}}:{{gid}}"
    environment:
      - MYSQL_ROOT_PASSWORD=1qwer5432
      - MYSQL_PASSWORD=1qwer5432
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      # - MARIADB_AUTO_UPGRADE=1 # see in the logs, if it needs upgrade can try to uncomment (after backup maybe)
    volumes:
      - ~/servers/nextcloud/synced/mariadb/var/lib/mysql:/var/lib/mysql
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    networks:
      - nginx_network
    restart: unless-stopped
    #user: 113:118

networks:
  nginx_network:
